@charset "UTF-8";

// Normalize default styles and browser inconsistencies. see https://github.com/JohnAlbin/normalize-scss
// @import "~normalize-scss/sass/normalize/import-now";

// Import Bourbon & Bitters https://github.com/thoughtbot/bitters
@import "base/base";
@import "vendor/vendor";
@import "components/components";

@import 'mixins/mixins';
@import 'partials/partials';
@import 'pages/pages';