# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# Database Connection
SS_DATABASE_SERVER="localhost"                    # Database host (localhost by default)
SS_DATABASE_USERNAME="username"                  # Database user (required)
SS_DATABASE_PASSWORD="password"                  # Database password (required)
SS_DATABASE_NAME="dbname"                      # Database name

# Default Admin
SS_DEFAULT_ADMIN_USERNAME="admin"                   # Default administrative user
SS_DEFAULT_ADMIN_PASSWORD="password"                # Password for the default administrative user

# Environment
SS_ENVIRONMENT_TYPE="dev"                           # One of [dev, test, live]

# Email jazz
APP_ADMIN_EMAIL="username"
APP_SMTP_USERNAME="username"
APP_SMTP_PASSWORD="password"

# Google captcha key pair
SS_NOCAPTCHA_SITE_KEY=""
SS_NOCAPTCHA_SECRET_KEY=""
