# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

# Database Connection
SS_DATABASE_SERVER="localhost"                      # Database host (localhost by default)
SS_DATABASE_USERNAME="all"                          # Database user (required)
SS_DATABASE_PASSWORD="all"                          # Database password (required)
SS_DATABASE_NAME="silverstripe-project"             # Database name

# Default Admin
SS_DEFAULT_ADMIN_USERNAME="a"                       # Default administrative user
SS_DEFAULT_ADMIN_PASSWORD="p"                       # Password for the default administrative user

# Environment
SS_ENVIRONMENT_TYPE="dev"                           # One of [dev, test, live]