# Ignore OS-specific files
.DS_Store 
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
# Ignore package folders
node_modules/
/resources/
/vendor/

# Ignore assets
assets

# Ignore sensitive files
.env

# Ignore editor-related files
.idea
.eclipse
.vscode

# Ignore distribution folders
dist/
manifest.js
vendor.js
