@import "../mixins/media";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 10px;
}

// Silverstripe CMS classes
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

img.left {
  float: left;
  margin: 0 20px 20px 0;
}

img.right {
  float: right;
  margin: 0 0 20px 20px;
}

img.leftAlone {
  display: block;
  margin: 0 20px 20px 0;
}
img.rightAlone {
  display: block;
  margin: 0 20px 20px 0;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}