$footer-type: "footer"; // "footer", "footer2"

.footer-container {
  background-color: white;
}

.footer {
  padding: 22px 20px;

  .footer-title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .64px;
    margin-bottom: 24px;
  }

  @media(min-width: $medium) {
    padding: 30px 20px 50px;
  }

  @media(min-width: 1024px) {
    margin: auto;
    max-width: 1240px;
    padding: 30px 20px 33px;
  }

  @media(min-width: $large) {
    padding: 60px 20px 55px;
  }
}

.footer-main {
  padding-bottom: 10px;

  @media(min-width: $medium) {
    display: flex;
    justify-content: space-between;

    .quick-links {
      width: 21%;
    }

    .contact-details {
      width: 23%;
    }

    .social-media {
      margin-right: 46px;

      @if $footer-type == "footer2" {
        margin-right: 0;
      }
    }
  }
}


.footer .quick-links,
.footer .contact-details {
  margin-bottom: 30px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #333;
    display: block;
    letter-spacing: .64px;
    line-height: 22px;
    margin-bottom: 10px;
    text-decoration: none;
  }
}

.footer .social-media {
  margin-bottom: 45px;

  @if $footer-type == "footer2" {
    margin-bottom: 35px;
  }

  .social-media-links {
    display: flex;
  }

  a {
    display: block;
    margin-right: 15px;
  }
}

.footer .logos {
  a {
    display: block;
    margin-bottom: 25px;
  }
}

.footer-small {
  border-top: 1px solid #616161;
  padding-top: 33px;

  .terms {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #616161;
    display: block;
    font-size: 14px;
    letter-spacing: .64px;
    line-height: 18px;
    margin-bottom: 16px;
    text-decoration: none;
  }

  button {
    background: none;
    color: #616161;
    font-size: 14px;
    letter-spacing: .64px;
    padding: 0;

    svg {
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  @media(min-width: $medium) {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .terms,
    .back-to-top {
      width: 40%;
    }

    .back-to-top {
      text-align: right;
    }
  }

  @media(min-width: 1024px) {
    .terms {
      li, a {
        display: inline-block;
      }

      a {
        padding-right: 13px;

        &:not(:first-of-type) {
          border-left: 1px solid #616161;
          padding-left: 13px;
        }
      }
    }
  }

  @media (min-width: $large) {
    padding-top: 49px;
  }
}