.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-medium-gray;
}

.header__logo {
    max-width: 15%;
}

.header__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.header__link {
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;

    & + & {
        margin-left: 2rem;
    }

    &.header__link--active {
        border-bottom: 1px solid black;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.header__hamburger {
    margin-left: 2rem;

    @include media($breakpoint-large) {
        display: none;
    }
}