// Mixins
$default-feature: min-width; // Default @media feature for the media() mixin

// Breakpoints
$breakpoint-medium: 600px;
$breakpoint-large: 1200px;
$breakpoint-huge: 1800px;

// Typography
$font-family: (
  'Avenir',
  sans-serif
);

// Colors
$color-light-gray: #f7f7f7;
$color-medium-gray: #eaeaea;
$color-darkish-gray: #9b9b9b;
$color-dark-gray: #58595b;
$color-bright: #f4f4f4;
$color-black: black;

// Font WEIGHTS
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Other settings
$border-radius: 4px;
