// Mixins
$default-feature: min-width; // Default @media feature for the media() mixin

// Breakpoints
$breakpoint-medium: 600px;
$breakpoint-large: 1200px;
$breakpoint-huge: 1800px;

// Typography
$font-family: (
    "Avenir",
    sans-serif
);

// Colors
$color-light-gray: #F7F7F7;
$color-medium-gray: #EAEAEA;
$color-darkish-gray: #9B9B9B;
$color-dark-gray: #58595B;
$color-bright: #F4F4F4;
$color-black: black;

// Font WEIGHTS
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Other settings
$border-radius: 4px;