.element {
    margin-bottom: 5rem;
}

.element__content {
    margin-bottom: 2rem;
}

.dynamic__elements__features__elements__elementfeatures {
    .feature {
        margin-bottom: 3rem;
    }
}

.dynamic__elements__oembed__elements__elementoembed {
    .embed-responsive {
        margin-bottom: 1rem;
    }
}