.footer {
    border-top: 1px solid $color-medium-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__note {
    & + & {
        margin-top: 1rem;
    }
}